ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
input {
    border: none;
}
.container_box {
    padding: 50px 0;
    background-color: #f1f3f5;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
@media only screen and (max-width : 1200px) {
    .container_box {
        padding: 40px;
    }
    .container {
        max-width: 980px;
    }
    html {
        font-size: 22px;
    }
}
@media only screen and (max-width : 992px) {
    .container_box {
        padding: 36px;
    }
    .container {
        max-width: 760px;
    }
    html {
        font-size: 20px;
    }
}
@media only screen and (max-width : 768px) {
    .container_box {
        padding: 32px;
    }
    .container {
        max-width: 470px;
    }
}
@media only screen and (max-width : 480px) {
    .container_box {
        padding: 28px;
    }
    .container {
        max-width: 310px;
    }
}
@media only screen and (max-width : 320px) {
    .container {
        max-width: 280px;
    }
}